.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  width: 640px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-size: 24px;
  margin-bottom: 8px;
  background: #efefef;
}
